{% extends 'blog_app/base.html' %}

{% block content %}

<h1>Функционал сайта:</h1><br>

<ol>
    <li>Регистрация и авторизация автора.  <br> Автор - это зарегистрированный пользователь с возможностью добавления и публикации рецептов на сайтеа</li>
    <br>
    <li>Просмотр всех опубликованных рецептов по различным категориям всех авторов. Возможно для всех пользователей</li>
    <br>
    <li>Просмотр автором всех своих рецептов (опубликованных/неопубликованных) </li>
    <br>
    <li>Возможность публикации и снятия с публикации автором всех своих рецептов </li>
    <br>
    <li>Добавление рецепта. Возможно только для автора данного рецепта</li>
    <br>
    <li>Изменение рецепта. Возможно только для автора данного рецепта</li>
    <br>
    <li>Удаление рецепта. Возможно только для авторов данного рецепта</li>
    <br>
    <li>Создание комментариев к рецепту. Возможно для всех пользователей</li>
    <br>
    <li>Просмотр комментариев к рецепту. Возможно для всех пользователей</li>
    <br>
    <li>Расчет количества просмотров и средней оценки рецепта</li>
    <br>
    <li>Организация обратной связи</li>
    <br>

    <br><br><br>
    <hr>
    <p>Наполнение базы данных данного сайта было взято из источника: <a href="https://finecooking.ru/"> сайт
        "finecooking.ru"</a></p>
    <p>Сайт разработан на Django python v.4.2.6, HTML5/CSS3 Нестеровым Алексеем 2023г. </p>
    <hr>
</ol>


{% endblock %}